version: '2.1'
services:
  zookeeper:
    image: nasheb/zookeeper:1.0
    ports:
      - "2181:2181"
    restart: unless-stopped

  kafka:
    image: nasheb/kafka:1.0
    ports:
      - "9092"
    environment:
      KAFKA_OPTS: "-XX:-UseContainerSupport -Dcom.sun.management.jmxremote=false"
      KAFKA_ADVERTISED_HOST_NAME: IPADDR
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
